@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Oswald:wght@600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #333;
  text-decoration: underline;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
  border: 12px solid #d3d3d3;
}

body {
  font-family: "IBM Plex Sans KR", sans-serif;
}

p {
  margin: 0;
}

/* ν—¤λ” */
.site-title-link {
  display: block;
  width: 210px;
  height: 90px;
  background: url(../public/images/kyobo_logo.png) no-repeat center / contain;
  margin: 0 auto;
}
.site-description {
  font-size:14px;
	font-style:italic;
	font-weight:300;
  line-height: 14px;
  margin-bottom: 20px;
  padding-top: 0;
}
.main-menu {
  padding: 5px 0;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}
.nav-link {
  font-family: "Oswald", sans-serif;
  color: #000;
}
/* Home */
.carousel-caption {
  top: 30%;
  left: 60%;
}
.home-book-link {
  font-family: "Oswald", sans-serif;
  color: #000;
}
/* About */
/* Bookdetaill */
.bookpic {
  width: 300px;
  height: 400px;
}
.del-bt {
  border: 0;
  background: none;
}
.root {
  padding: 0;
  margin: 0;
}
.container {
  text-align: center;
  margin-top: 20px;
}
.green-txt{
  font-weight: 700;
  color: #4dac27;
}
.line {
  content: "";
  display: block;
  bottom: 0px;
  width: 90%;
  height: 1px;
  background-color: #767676;
  opacity: 0.2;
  margin : 10px auto;
}
.detail-main {
  gap: 5px
}
.info-bx {
  font-size: 13px;
}
.cate {
  position: absolute;
  top: 0;
  left: 0;
}
.sns-bt {
  position: absolute;
  top: -5px;
  right: -25px;
  border: 1px solid #d3d3d3;
  border-radius: 50%;
  background: #fff;
  width: 45px;
  height: 45px;
}
.share-bt {
  position: absolute;
  top: 50px;
  right: -25px;
  border: 1px solid #d3d3d3;
  border-radius: 50%;
  background: #fff;
  width: 45px;
  height: 45px;
}
.bi-suit-heart {
  font-size: 20px;
}
.bi-suit-heart-fill {
  color: red;
  font-size: 20px;
}
/* ν‘Έν„° */
.site-footer {
  background: #023770;
  padding: 10px 0;
}
.site-info {
  margin-bottom: 20px;
}
.footer-title-link {
  display: block;
  width: 150px;
  height: 70px;
  background: url(../public/images/kyobo_logo_white.png) no-repeat center /
    contain;
  margin: 0 auto;
}
.footer-description {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
}
